@font-face {
  font-family: 'PressStart2P-Regular';
  src: url(./assets/PressStart2P-Regular.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'PressStart2P-Regular', monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  overflow: hidden;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
     -webkit-user-drag: none;
      -khtml-user-drag: none;
        -moz-user-drag: none;
          -o-user-drag: none;
             user-drag: none;
  }